<% @meals.each do |m| %>
  <section class="meal">
    <div>
      <h2>
        <%= link_to m.name, m %>
      </h2>
      <p>
        <%= truncate(m.description, length: 150, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>

<section class="admin">
  <%= link_to "Add New Meal", new_meal_path, class:"button" %>
</section>